@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes plop {
    0% {
      transform: scale(0.6);
      transform-origin: bottom;
    }
    100% {
        transform: scale(1);
        transform-origin: bottom;
    }
}

@keyframes pencil {
    0% {
      transform: rotate(0deg) translate(0px, 0px);
      transform-origin: bottom;
    }
    20% {
        transform: rotate(30deg) translate(-35px, 8px);
        transform-origin: bottom;
    }
    50% {
        transform: rotate(30deg) translate(0px, -8px);
        transform-origin: bottom;
    }
    80% {
        transform: rotate(26deg) translate(-30px, 12px);
        transform-origin: bottom;
    }
    100% {
        transform: rotate(0deg) translate(0px, 0px);
        transform-origin: bottom;
    }
}

@keyframes modal {
    0% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}