$prefix: "cso";
$font-family-base: "VT323";
$font-family-title: "VT323";

// colors
$color-primary: #0095E9;
$color-secondary: #ECECEC;
$color-green: #00968D;
$color-green-light: #D8FFD5;
$color-purple: #7690EC;
$color-yellow: #FDFFB1;
$color-grey: #AAA;
$color-dark: #111;
$color-light: #fff;
$color-border: $color-dark;