body {
	color: $color-dark;
  background-color: $color-secondary !important;
  height: 100vh;
  cursor: url('/assets/img/icons/ico-arrow-old.svg'),auto;
}

a, button {
  cursor: url('/assets/img/icons/ico-cursor-hand.svg'), auto !important;
}

main {
  display: flex;
  align-items: center;
  height: 90%;
}

.#{$prefix} {
  &_show {
    display: flex;
  }
  &_auto {
    &-fit {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: stretch;
      gap: 30px;
      width: 100%;
    }
    &-fit--xl {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      align-items: stretch;
      gap: 30px;
      width: 100%;
    }
    &-fill {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        align-items: stretch;
        gap: 30px;
        width: 100%;
    }
    &-fill--xl {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
      align-items: stretch;
      gap: 30px;
      width: 100%;
    }

  }

  @media (min-width: 768px) {
    &_auto {
      &-fill {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
  }
}


#sobreMi h4 img {
  animation: beating 5s infinite;
}

@keyframes beating {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(.8);
  }
  45% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(.8);
  }
  95% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}

/*animacion inicio*/
.animationInit svg {
  position: relative;
  font: 8em Ubuntu;
  letter-spacing: 0.15em;
}

.animationInit svg text {
  fill: #42C8C3;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

.apellido svg {
  position: relative;
  font: 3.5em Ubuntu;
  letter-spacing: 0.15em;
}

.apellido svg text {
  fill: #42C8C3;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}