*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	color: #555;
}

a {
	color: #42C8C3;
	text-decoration: none;
}

#container {
  height: 100vh;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#menu div{
  height: 45px;
  width: 100%;
}

/*botones*/

.btnM {
  display: flex;
  justify-content: center;
  align-items: center;
	transition: background-color .2s;
  padding-bottom: 8px;
}

.btnM:hover {
	cursor: pointer;
	transition: background-color .4s;
}

#btn1:hover {
	color: white;
	background-color: #555; 
}

#btn1 {
	border-top: 5px solid #555;
	padding-bottom: 5px;
}

#btn2 {
	color: #42C8C3;
	border-top: 5px solid #42C8C3;
	padding-bottom: 5px;
}

#btn2:hover {
	color: white;
	background-color: #42C8C3; 
}

#btn3 {
	color: #6CAE21;
	border-top: 5px solid #6CAE21;

}

#btn3:hover {
	color: white;
	background-color: #6CAE21; 
}

#btn4 {
	color: #F74B61;
	border-top: 5px solid #F74B61;

}

#btn4:hover {
	color: white;
	background-color: #F74B61; 
}

/*secciones*/

#inicio {
	display: flex;
	justify-content: center;
	align-items: center;
  height: 80vh;
  width: 100%;
  padding: 10px 20px;
}

.foto img {
	width: 300px;
	height: auto;
}

#inicio div {
	padding: 10px;
}

#portafolio {
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 10px 20px;
}

#sobreMi {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 40px;
}

#sobreMi .izq {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#sobreMi .izq a{
  width: 50%;
  margin:10px;
}

#sobreMi .izq img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

#sobreMi .der {
  width: 70%;
}

#contacto .izq {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contacto .der {
  width: 60%;
}

#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
}

.carousel .carousel-item {
width:40% !important;
height: 60% !important;
min-width: 250px;
min-height: 250px;
max-width: 650px;
max-height: 650px;
}

.indicator-item {
  background-color: rgba(66, 200, 195, .3) !important;
  height: 12px !important;
  width: 12px !important;
}

.indicator-item.active {
  background-color: #42C8C3 !important;
  height: 14px !important;
  width: 14px !important;
}

.carousel {
  height: 90vh !important;
}


/*probando animar imag*/




/*fondo gradient*/


/*termina prueba img*/

canvas {
  display: block;
  margin: 0 auto;
  cursor: move;
}







/*colores celeste #42C8C3  rosa #F74B61   verde #7A9C53