*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	color: #555;
  background-image: url('../img/fondo-portafolio.jpg');
  background-size: cover;
  transition: background-image 1s;
  background-attachment: fixed;
} 

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#menu {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  background-color: white;
}

#menu div{
  height: 45px;
  width: 100%;
}

/*botones*/

.btnM {
  display: flex;
  justify-content: center;
  align-items: center;
	transition: background-color .2s;
  padding-bottom: 8px;
}

.btnM:hover {
	cursor: pointer;
	transition: background-color .4s;
}

#btn1:hover {
	color: white;
	background-color: #555; 
}

#btn1 {
	border-top: 5px solid #555;
	padding-bottom: 5px;
}

#btn2 {
	color: #42C8C3;
	border-top: 5px solid #42C8C3;
	padding-bottom: 5px;
}

#btn2:hover {
	color: white;
	background-color: #42C8C3; 
}

#btn3 {
	color: #6CAE21;
	border-top: 5px solid #6CAE21;

}

#btn3:hover {
	color: white;
	background-color: #6CAE21; 
}

#btn4 {
	color: #F74B61;
	border-top: 5px solid #F74B61;

}

#btn4:hover {
	color: white;
	background-color: #F74B61; 
}

/*secciones*/

#inicio {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 100px;
}

.intro h5, .intro #seeMore {
  padding-left: 10px;
}

.foto img {
	width: 250px;
	height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

#seeMore {
  color: #42C8C3;
  font-size: 1.3em;
  cursor: pointer;
}

#seeMore:hover {
  color: #F74B61;
}

.foto {
	padding: 10px;
  margin-bottom: -30px;
}

.intro span {
  color: #F74B61;
}

.intro {
  text-align: left;
}

/*portafolio*/
#portafolio {
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 80px;
}

/*sobre mi*/
#sobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
}

#sobreMi h4, #sobreMi h5 {
  color: #6CAE21 !important;
} 

#sobreMi a {
  color: #555 !important;
} 

#sobreMi a:hover {
  color: #6CAE21 !important;
}

#sobreMi #pdf a svg {
  font-size: 30px;
  padding-left: 10px;
  width: 40px;
}

#sobreMi .der {
  width: 70%;
}

/*contacto*/
#contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

#contacto .izq {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contacto p svg {
  color: #42C8C3 !important;
}

#contacto .izq p {
  margin-bottom: 1em;
}

#contacto a {
  color: #555 !important;
  text-decoration: none;
}

#contacto a:hover {
  color: #42C8C3 !important;
}

/*carrusel*/
.carousel .carousel-item {
  position: relative;   
  margin-top: -20px;
  min-width: 240px;
  min-height: 240px;
  max-width: 450px;
  max-height: 450px;
}

.carousel .carousel-item img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.indicator-item {
  background-color: rgba(66, 200, 195, .3) !important;
  height: 12px !important;
  width: 12px !important;
}

.indicator-item.active {
  background-color: #42C8C3 !important;
  height: 14px !important;
  width: 14px !important;
}

.overlay {
  background-color: rgba(20, 20, 20, .9);
  position: absolute;
  bottom: 0px;
  color: white;
  width: 100%;
  min-height: 100px;
  padding: 0 20px;
}

.overlay span {
  color: #42C8C3;
}

.icons {
  font-size: 60px;
}

@media only screen {
  body {
    background-position: 40% 100%;
  }
  .carousel {
    height: 60vh !important;
  }
  .carousel .carousel-item {
    height: 70% !important;
    width:70% !important; 
  }
  svg {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin-top: 5%;
  }
  .overlay {
    height: 70%;
  }
  .contactText {
    text-align: center;
    margin-top: 0;
    z-index: 10;
  }
  #sobreMi {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 350px;
  }
  #inicio {
    margin-top: 50px;
  }
  .animationInit {
    margin-bottom: -20px;
  }
}

@media only screen and (min-width: 650px) {
  body {
    background-position: 40% 30%;
  }
  .carousel {
    height: 70vh !important;
  }
   .carousel .carousel-item {
    width:40% !important; 
    height: 80% !important;
  }
  svg {
    width: 80%;
    height: 80%;
    margin-top: 0;
  }
  .overlay {
    height: 30%;
  }
  .contactText {
    margin-top: -30px;
  }
  #sobreMi {
    width: 70%;
    margin-bottom: 100px;
    margin-top: 0;
    min-width: 900px;
  }
  .contacto {
    margin-bottom: 80px;
  }
  #inicio {
    margin-top: 0;
  }
  .animationInit {
    margin-bottom: -0;
  }
}

/*animacion contacto*/
svg {
  position: relative;
  font: 20em Ubuntu;
  letter-spacing: 0.15em;
}

svg text {
  fill: #F74B61;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}

/*animacion inicio*/
.animationInit svg {
  position: relative;
  font: 8em Ubuntu;
  letter-spacing: 0.15em;
}

.animationInit svg text {
  fill: #42C8C3;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

.apellido svg {
  position: relative;
  font: 3.5em Ubuntu;
  letter-spacing: 0.15em;
}

.apellido svg text {
  fill: #42C8C3;
  stroke: #111;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}
/*colores celeste #42C8C3  rosa #F74B61   verde #6CAE21