.#{$prefix}_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $color-purple;
    border: 2px solid $color-border;
    &__title {
        background-color: $color-dark;
        color: $color-light;
        padding: 0.5rem 1rem;
        h1 {
            margin: 0;
        }
    }
    &__options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        position: absolute;
        right: 1rem;
        .dropdown-toggle {
            display: flex;
            align-items: center;
            color: $color-dark;
            h3 {
                margin: 0;
                color: $color-dark;
            }
            img {
                margin-right: 0.3rem;
            }
        }
        &__lang {
            div {
                display: none;
                &.cso_show {
                    display: flex;
                }
                > img {
                    display: none;
                }
            }
            &__check {
                max-width: 1rem;
            }
        }
        
    }
    .dropdown-menu {
        border: 2px solid $color-border;
        border-radius: 0;
        padding: 0;
        li {
            a {
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                font-family: 'VT323', sans-serif;
                font-size: 1.5rem;
                min-height: 3rem;
                &:hover {
                    background-color: $color-primary;
                    color: $color-light;
                }
                .#{$prefix}_nav__options__lang__check {
                    display: none;
                }
                &.cso_show {
                    .#{$prefix}_nav__options__lang__check {
                        display: inline-flex;
                    }
                }
                h3 {
                    margin: 0;
                }
            }
            &:not(:last-child) {
                border-bottom: 2px solid $color-border;
            }
        }
    }
    @media (min-width: 768px) {
        &__options {
            &__lang {
                img {
                    display: inline;
                }
                div {
                    > img {
                        display: inline;
                    }
                }
            }
            
        }
        
    }
}